.chart-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  padding: 8px;
  border-radius: 8px;
  flex-grow: 1;
  width: 100%;
  max-width: 650px;
}

.chart {
  flex: 1;
  flex-shrink: 1;
}

.sinDatos {
  background-color: transparent;
}
