<body class="text-center d-flex align-items-center justify-content-center">
  <form class="form-signin">
    <a routerLink="/">
      <img class="h3 mb-4" src="assets/defaultLogo.png" alt="" width="72" height="72">
    </a>
    <br>
    <br>
    <input type="email" id="inputEmail" class="form-control shadow" placeholder="Usuario" required="" autofocus="">
    <br>
    <input type="password" id="inputPassword" class="form-control shadow" placeholder="Clave" required="">
    <div class="checkbox mb-3 mt-2 text-end">
      <label>
        <input type="checkbox" value="remember-me"> Recordarme
      </label>
    </div>
    <button class="btn btn-lg btn-outline-light" type="submit">Iniciar sesión</button>
  </form>
</body>
