<mat-form-field class="full-width">
  <p class="form-field-description">Ingrese título</p>
  <input matInput placeholder="Título" [(ngModel)]="nombre" (blur)="setNombre(nombre)">
</mat-form-field>

<div class="form-group container-fluid py-3">
  <p class="mb-1">Logo (*.png)</p>
  <input type="file" class="form-control" id="crtFile" #fileInput (change)="onFileSelected($event, 'png')">
  <div class="text-danger m-2" *ngIf="errorMessageImg">Solo se permiten imagenes con extensión .png</div>
</div>

<div class="checkbox-container py-3">
  <mat-checkbox [(ngModel)]="copyEnabled" (ngModelChange)="habilitarCopy(copyEnabled)">Copiar con doble
    clic</mat-checkbox>

<mat-expansion-panel [class.overflow-visible]="colorPickerIsOpen" class="my-2">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Cambiar colores
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="color-container justify-content-center">
    <input [(colorPicker)]="Color1" [style.background]="Color1" placeholder="Color 1"
      (colorPickerOpen)="ColorPickerIsOpen(true)" (colorPickerClose)="ColorPickerIsOpen(false)"
      (colorPickerChange)="previewColor1(Color1)" class="mx-3 text-center form-control" style="width: 40%;"
      (colorPickerSelect)="color1(Color1)" cpPosition="top" />

    <input [(colorPicker)]="Color2" [style.background]="Color2" placeholder="Color 2"
      (colorPickerOpen)="ColorPickerIsOpen(true)" (colorPickerClose)="ColorPickerIsOpen(false)"
      (colorPickerChange)="previewColor2(Color2)" class="mx-3 text-center form-control" style="width: 40%;"
      (colorPickerSelect)="color2(Color2)" cpPosition="top" />
  </div>
</mat-expansion-panel>

<div class="buttons justify-content-center">
  <button mat-raised-button type="button" class="my-3" (click)="restauracionDeFabrica()">Restaurar valores de
    fábrica</button>
</div>
