<div class="chart-container mat-elevation-z3 m-1" *ngIf="incomeData && chartLabels">
  <div class="chart">
    <mat-select [(ngModel)]="selectedYear" (selectionChange)="globalFilter()">
      <mat-option *ngFor="let year of Years" [value]="year">{{ year }}</mat-option>
    </mat-select>

    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [type]="chartType" [options]="chartOptions"
      *ngIf="filteredData"></canvas>

    <div class="text-center sinDatos" *ngIf="!filteredData">
      <p><mat-icon>error_outline</mat-icon><br>Sin datos</p>
    </div>

    <mat-select [(ngModel)]="selectedCategory" (selectionChange)="globalFilter()">
      <mat-option *ngFor="let selectedCategory of Categories" [value]="selectedCategory">{{ selectedCategory
        }}</mat-option>
    </mat-select>
  </div>
</div>
