.chart {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 8px;
  width: 600px;
}

.no-data-message {
  position: relative;
  height: 583px;
  background-color: transparent;
}

.no-data-message p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
