.custom-paginator {
  padding-bottom: 5px;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

table {
  width: 100%;
}

.table-container table .data-row:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

#sinDatos {
  background-color: white;
}

#sinDatos p {
  margin: 0;
  padding: 20px;
}













