.custom-paginator {
  padding-bottom: 5px;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

table {
  width: 100%;
}

.table-container table .data-row:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.sinDatos {
  background-color: white;
  color: #ccc;
}

.sinDatos p {
  margin: 0;
  padding: 20px;
}

.input-group button {
  background-color: white;
  border: 1px solid #ccc;
}

.input-group input {
  border-radius: 5px 5px 0 0;
  font-size: 12px;
  transition: all 3s ease-out;
}

.input-group input:focus {
  outline: none !important;
  box-shadow: none !important;
  background-image: linear-gradient(to top,var(--color-1) 2px,rgba(156,39,176,0) 2px),linear-gradient(to top,#d2d2d2 1px,rgba(210,210,210,0) 1px);
}





