<!--
  <app-dashboard-grafico-mediosdepago></app-dashboard-grafico-mediosdepago>
 -->





<div class="container-fluid" style="height: 90vh;">
  <div class="row">
    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center g-0">
      <div class="content p-3">
        <app-dashboard-grafico-ingresos></app-dashboard-grafico-ingresos>
      </div>
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center g-0">
      <div class="content p-3">
        <app-dashboard-grafico-egresos></app-dashboard-grafico-egresos>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center g-0">
      <div class="content p-3">
        <app-dashboard-grafico-margen></app-dashboard-grafico-margen>
      </div>
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center g-0">
      <div class="content p-3">
        <app-dashboard-grafico-margen-menos-egresos></app-dashboard-grafico-margen-menos-egresos>
      </div>
    </div>
  </div>
</div>
