<!-- <app-dashboard-grafico-mediosdepago></app-dashboard-grafico-mediosdepago>

<div class="graficosContainer">
  <app-dashboard-grafico-ingresos></app-dashboard-grafico-ingresos>
  <app-dashboard-grafico-egresos></app-dashboard-grafico-egresos>
</div>

<div class="graficosContainer">
  <app-dashboard-grafico-margen></app-dashboard-grafico-margen>
  <app-dashboard-grafico-margen-menos-egresos></app-dashboard-grafico-margen-menos-egresos>
</div> -->




<!-- <div class="" > <app-dashboard-grafico-egresos></app-dashboard-grafico-egresos></div> -->



<div class="container">
  <div class="box top-left"><app-dashboard-grafico-ingresos ></app-dashboard-grafico-ingresos></div>
  <div class="box top-right"><app-dashboard-grafico-egresos></app-dashboard-grafico-egresos></div>
  <div class="box bottom-left"><app-dashboard-grafico-margen></app-dashboard-grafico-margen></div>
  <div class="box bottom-right"><app-dashboard-grafico-margen-menos-egresos></app-dashboard-grafico-margen-menos-egresos></div>
</div>


