.buttons {
  display: flex;
  flex-direction: row;
}

@media (max-width: 570px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.color-container {
  display: flex;
  flex-direction: row;
}

.color-container input::placeholder {
  color: #ccc;
  font-weight: bold;
}

.overflow-visible {
  overflow: visible !important;
}
