<div class="title">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header-danger">
        <h4 class="card-title">Reportes</h4>
      </div>
    </div>
  </div>
</div>

<mat-tab-group dynamicHeight>
  <mat-tab label="Ingresos">
    <app-reportes-ingresos></app-reportes-ingresos>
  </mat-tab>

  <mat-tab label="Egresos">

    <div class="mat-elevation-z4 m-4 rounded">
      <mat-radio-group [(ngModel)]="filtro">
        <mat-radio-button value="rubro">Egresos por Rubro</mat-radio-button>
        <mat-radio-button value="bp">Egresos por Beneficiario</mat-radio-button>
      </mat-radio-group>
    </div>
    <app-reportes-egresos-rubro *ngIf="filtro==='rubro'"></app-reportes-egresos-rubro>
    <app-reportes-egresos-bp *ngIf="filtro==='bp'"></app-reportes-egresos-bp>
  </mat-tab>
</mat-tab-group>
