<div class="chart mat-elevation-z4 m-2" style="display: block" *ngIf="ingresosData.length + egresosData.length != 0">
  <mat-select [(ngModel)]="selectedYear" (selectionChange)="globalFilter()">
    <mat-option *ngFor="let year of Years" [value]="year">{{ year }}</mat-option>
  </mat-select>

  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [type]="lineChartType"
    [options]="lineChartOptions">
  </canvas>

  <mat-select [(ngModel)]="selectedCategory" (selectionChange)="globalFilter()">
    <mat-option *ngFor="let selectedCategory of Categories" [value]="selectedCategory">{{ selectedCategory
      }}</mat-option>
  </mat-select>
</div>
