.card [class*=card-header-]:not(.card-header-text) {
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 5px;
}

.card .card-header-danger:not(.card-header-icon):not(.card-header-text) {
  box-shadow: var(--title-box-shadow);
}

.card .card-header-danger:not(.card-header-icon):not(.card-header-text),
.card.bg-danger,
.card.card-rotate.bg-danger .back,
.card.card-rotate.bg-danger .front {
  background: var(--title-background);
}

.card [class*=card-header-] {
  margin: 0 -5px;
  padding: 0;
  position: relative;
  color: #fff;
}

.card .card-header {
  z-index: 3 !important;
  border-bottom: none;
}

.card {
  border: none !important;
  background: none !important;
}

.card-title {
  margin: 0;
}
