.card [class*=card-header-] {
  border-radius: 3px;
  padding: 15px;
  margin: 0 -5px;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .card-header-danger:not(.card-header-text) {
  box-shadow: var(--title-box-shadow);
  background: var(--title-background);
  z-index: 3;
  border-bottom: none;
  margin-bottom: 5px;
}

.card {
  border: none;
  background: none;
}

.card-title {
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
}

h4 {
  font-size: 19px;
  letter-spacing: 0.11rem;
}

.card button {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  fill: currentColor;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  z-index: 0;
  overflow: visible;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.card button:active {
  transform: scale(1.1);
}
