.chart-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
}


@media (min-width: 1024px) {
  .container-fluid {
    padding-right: 80px;
    padding-left: 80px;
  }
}
