table {
  width: 100%;
  border-collapse: collapse;
}

table.empresa,
table.usuario {
  margin-bottom: 20px;
}

thead {
  background-color: #f0f0f0;
  /* Color de fondo para el encabezado */
}

th {
  text-align: left;
  padding: 8px;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
