<!-- Vista de Resultados -->
<div class="tableResultados" [ngClass]="{'noVisible': detail || create || edit || remito}">

  <div class="title">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header-danger">
          <h4 class="card-title left-align">Ingresos</h4>
          <div class="right-align">
            <button (click)="ExportToExcel()">
              <mat-icon>file_download</mat-icon>
            </button>
            <button (click)="refresh()">
              <mat-icon>refresh</mat-icon>
            </button>
            <button (click)="Create(true)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8 table-container mt-1">

    <div class="input-group no-border">
      <input matInput #searchInput (keyup.enter)="searchFilter(searchInput.value)"
        (keyup.backspace)="searchFilter(searchInput.value)" (keyup.delete)="searchFilter(searchInput.value)"
        class="form-control no-border" placeholder="Buscar.." type="text" value="">
      <button mat-button (click)="searchFilter(searchInput.value)">
        <i class="material-icons">search</i>
      </button>
    </div>

    <div class="table-wrapper" [ngClass]="{'noVisible': !dataSource.data.length || isLoading }">

      <table mat-table [dataSource]="dataSource" matSort #sort class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
            {{ Columns['id'] }}
          </th>
          <td mat-cell *matCellDef="let element" (dblclick)="sharedService.copy(element.id)"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
            {{ Columns['date'] }}
          </th>
          <td [matTooltip]="element.date" [matTooltipShowDelay]="500" mat-cell *matCellDef="let element"
            (dblclick)="sharedService.copy(element.date)">
            {{element.date | date:'dd/MM/yyyy' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nombre">
            {{ Columns['nombre'] }}
          </th>
          <td [matTooltip]="element.nombre" [matTooltipShowDelay]="500" mat-cell *matCellDef="let element"
            (dblclick)="sharedService.copy(element.nombre)">
            {{ element.nombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cliente">
            {{ Columns['cliente'] }}
          </th>
          <td mat-cell *matCellDef="let element"
            (dblclick)="sharedService.copy(element.cliente  || '-' )">
            {{ element.cliente || '-'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="anulado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by anulado">
            {{ Columns['anulado'] }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.anulado == '1'? 'SI':'NO' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by monto">
            {{ Columns['monto'] }}
          </th>
          <td mat-cell *matCellDef="let element" (dblclick)="sharedService.copy(element.monto)"> {{element.monto |
            currency:'$':'symbol' }} </td>
        </ng-container>

        <ng-container matColumnDef="method">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by method">
            {{ Columns['method'] }}
          </th>
          <td mat-cell *matCellDef="let element" (dblclick)="sharedService.copy(element.method)">{{
            element.method }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
            {{ Columns['category'] }}
          </th>
          <td [matTooltip]="element.category" [matTooltipShowDelay]="500" mat-cell *matCellDef="let element"
            (dblclick)="sharedService.copy(element.category)">
            {{ element.category ? (element.category | slice:0:12) : '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="comprobante">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by comprobante">
            {{ Columns['comprobante'] }}
          </th>
          <td mat-cell *matCellDef="let element" (dblclick)="sharedService.copy(element.comprobante)">
            {{element.comprobante}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
            {{ Columns['description'] }}
          </th>
          <td mat-cell *matCellDef="let element" (dblclick)="sharedService.copy(element.description)">
            {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Operaciones </th>
          <td mat-cell *matCellDef="let element" class="actions-cell">
            <div class="actions-container">
              <button mat-icon-button [matTooltip]="'Ver'" (click)="viewItem(element)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button [matTooltip]="'Editar'" (click)="editItem(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button [matTooltip]="'Borrar'" (click)="deleteItem(element)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button [matTooltip]="'Anular'" (click)="anularItem(element)"
                *ngIf="element.anulado != '1'">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getColumnsKeys()"></tr>
        <tr mat-row *matRowDef="let row; columns: getColumnsKeys()" class="data-row"></tr>
      </table>

    </div>

    <div class="loading-overlay" *ngIf="isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="text-center sinDatos m-5 p-5" *ngIf="isLoading ">
      <p><mat-icon class="spin">hourglass_empty</mat-icon><br>
        Cargando..</p>
    </div>
    <div class="text-center sinDatos m-5 p-5" *ngIf="!dataSource.data.length && !isLoading">
      <p><mat-icon>error_outline</mat-icon><br>Sin datos</p>
    </div>

    <mat-paginator #paginator [hidden]="isLoading" class="custom-paginator" [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

<!-- Vista de Detalle -->
<div class="verDetalle" *ngIf="detail">
  <div class="title">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header-danger">
          <h4 class="card-title">Ingresos / Detalle</h4>
          <button (click)="Detail(false)">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-container mt-3">
    <div class="table-wrapper">
      <table>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">{{ Columns['date'] }}:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.date.value)">{{ Item.date.value |
            date:'dd/MM/yyyy' }}
          </td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">{{ Columns['nombre'] }}:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.nombre.value)">
            {{ Item.nombre.value }}
          </td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">ID Inventario:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.inventarioId.value)">
            <span *ngIf="Item.inventarioId.value != false">{{ Item.inventarioId.value }}</span>
            <span *ngIf="Item.inventarioId.value == false">(No encontrado en inventario)</span>
          </td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">{{ Columns['cliente'] }}:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.cliente.value || '-')">{{ Item.cliente.value || '-' }}</td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">{{ Columns['anulado'] }}:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.anulado.value)">{{ Item.anulado.value == '1'?
            'SI':'NO'
            }}</td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">Moneda:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.moneda.value)">{{ Item.moneda.value }}</td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">{{ Columns['monto'] }}:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.monto.value)">{{ Item.monto.value |
            currency:'$':'symbol' }}</td>
        </tr>

        <tr *ngIf="Item.tipo.value === 'Producto'">
          <td style="font-weight: bold; white-space: nowrap;">Margen-Beneficio:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.margenBeneficio.value)">{{
            Item.margenBeneficio.value
            }}%
          </td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">Método de pago:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.method.value)">{{ Item.method.value }}
          </td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">{{ Columns['category'] }}:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.category.value)">{{ Item.category.value }}
          </td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">Comprobante:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.comprobante.value || '-')">{{
            Item.comprobante.value || '-' }}</td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap;">Descripción:</td>
          <td style="width: 100%;" (dblclick)="sharedService.copy(Item.description.value || '-')">{{ Item.description.value || '-' }}
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>

<!-- Vista de creación de registros -->
<div class="crearRegistro" *ngIf="create">
  <div class="title">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header-danger">
          <h4 class="card-title">Ingresos / Crear</h4>
          <button (click)="Create(false)">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <mat-form-field class="full-width" *ngIf="itemRemito.length === 0">
    <p class="form-field-description">Ingrese {{ Columns['date'] | lowercase }} <span class="red-asterisk">*</span></p>
    <input class="my-2" type="date" matInput [formControl]="Item.date" required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <p class="form-field-description">Buscar en inventario (ID / ID Externo / Nombre) <span
        class="red-asterisk">*</span></p>
    <input type="text" placeholder="ID Producto / ID Servicio" matInput [matAutocomplete]="auto"
      [formControl]="Item.nombre" (focus)="getInventario()" required>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProductoSeleccionado($event)">
      <mat-option *ngFor="let inventario of filteredInventario | async"
        [value]="inventario.id + ' - ' + inventario.idExterno + ' - ' + inventario.nombre">
        <span *ngIf="inventario?.id">{{inventario?.id}}</span>
        <span *ngIf="inventario?.idExterno"> - {{inventario?.idExterno}}</span>
        <span *ngIf="inventario?.nombre"> - {{inventario?.nombre}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="itemRemito.length === 0">
    <p class="form-field-description">Ingrese {{ Columns['cliente'] | lowercase }}</p>
    <input matInput placeholder="{{ Columns['cliente'] }}" [formControl]="Item.cliente">
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="itemRemito.length === 0">
    <p class="form-field-description">Ingrese moneda</p>
    <mat-select placeholder="Moneda" [formControl]="Item.moneda">
      <mat-option *ngFor="let moneda of sharedService.monedas" [value]="moneda">{{ moneda }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <p class="form-field-description">Ingrese {{ Columns['monto'] | lowercase }} <span class="red-asterisk">*</span>
    </p>
    <input matInput placeholder="{{ Columns['monto'] }}" [formControl]="Item.monto" type="number" required>
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="itemRemito.length === 0">
    <p class="form-field-description">Ingrese método de Pago <span class="red-asterisk">*</span></p>
    <mat-select placeholder="Método de Pago" [formControl]="Item.method" required>
      <mat-option *ngFor="let method of sharedService.paidMethods" [value]="method">{{ method }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="itemRemito.length === 0">
    <p class="form-field-description">Ingrese {{ Columns['category'] | lowercase }} <span class="red-asterisk">*</span>
    </p>
    <mat-select placeholder="{{ Columns['category'] }}" [formControl]="Item.category" required>
      <mat-option *ngFor="let category of sharedService.rubrosIngresos" [value]="category">{{ category }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="itemRemito.length === 0">
    <p class="form-field-description">Ingrese descripción</p>
    <input matInput placeholder="Descripción" [formControl]="Item.description">
  </mat-form-field>

  <button mat-button (click)="remitoCreate(false)"
    [disabled]="!Item.date.valid || !Item.nombre.valid || !Item.monto.valid || !Item.method.valid || !Item.category.valid">
    Continuar
  </button>

  <button mat-button (click)="remitoCreate(true)"
    [disabled]="!Item.date.valid || !Item.nombre.valid || !Item.monto.valid || !Item.method.valid || !Item.category.valid">
    <mat-icon>add</mat-icon>
  </button>

  <span *ngIf="errorMsg" style="color: red; font-size: small;"> {{ errorMsg }} </span>
</div>

<!-- Vista de edicion de registros -->
<div class="editarRegistro" *ngIf="edit">
  <div class="title">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header-danger">
          <h4 class="card-title">Ingresos / Editar</h4>
          <button (click)="Edit(false)">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <mat-form-field class="full-width">
    <p class="form-field-description">Ingrese {{ Columns['date'] | lowercase }} <span class="red-asterisk">*</span></p>
    <input class="my-2" type="date" matInput [formControl]="Item.date" required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <p class="form-field-description">Buscar en inventario (ID / ID Externo / Nombre) <span
        class="red-asterisk">*</span></p>
    <input type="text" placeholder="ID Producto / ID Servicio" matInput [matAutocomplete]="auto"
      [formControl]="Item.nombre" (focus)="getInventario()" required>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProductoSeleccionado($event)">
      <mat-option *ngFor="let inventario of filteredInventario | async"
        [value]="inventario.id + ' - ' + inventario.idExterno + ' - ' + inventario.nombre">
        <span *ngIf="inventario?.id">{{inventario?.id}}</span>
        <span *ngIf="inventario?.idExterno"> - {{inventario?.idExterno}}</span>
        <span *ngIf="inventario?.nombre"> - {{inventario?.nombre}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="full-width">
    <p class="form-field-description">Ingrese {{ Columns['cliente'] | lowercase }}</p>
    <input matInput placeholder="{{ Columns['cliente'] }}" [formControl]="Item.cliente">
  </mat-form-field>

  <mat-form-field class="full-width">
    <p class="form-field-description">Ingrese moneda</p>
    <mat-select placeholder="Moneda" [formControl]="Item.moneda">
      <mat-option *ngFor="let moneda of sharedService.monedas" [value]="moneda">{{ moneda }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <p class="form-field-description">Ingrese {{ Columns['monto'] | lowercase }} <span class="red-asterisk">*</span>
    </p>
    <input matInput placeholder="{{ Columns['monto'] }}" [formControl]="Item.monto" type="number" required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <p class="form-field-description">Ingrese método de Pago <span class="red-asterisk">*</span></p>
    <mat-select placeholder="Método de Pago" [formControl]="Item.method" required>
      <mat-option *ngFor="let method of sharedService.paidMethods" [value]="method">{{ method }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <p class="form-field-description">Ingrese {{ Columns['category'] | lowercase }} <span class="red-asterisk">*</span>
    </p>
    <mat-select placeholder="{{ Columns['category'] }}" [formControl]="Item.category" required>
      <mat-option *ngFor="let category of sharedService.rubrosIngresos" [value]="category">{{ category }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <p class="form-field-description">Ingrese descripción</p>
    <input matInput placeholder="Descripción" [formControl]="Item.description">
  </mat-form-field>

  <button mat-button (click)="recordEdit()"
    [disabled]="!Item.date.valid || !Item.nombre.valid || !Item.monto.valid || !Item.method.valid || !Item.category.valid">
    Guardar
  </button>

  <span *ngIf="errorMsg" style="color: red; font-size: small;"> {{ errorMsg }} </span>
</div>

<!-- Vista de Remito -->
<div class="crearRemito" *ngIf="remito">
  <div class="title">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header-danger">
          <h4 class="card-title">Ingresos / Remito</h4>
          <button (click)="Remito(false)">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-container mt-1">
    <div class="table-wrapper">

      <table class="m-4">
        <tr>
          <td style="font-weight: bold; white-space: nowrap; padding-right: 5px;">{{ Columns['date'] }}:</td>
          <td style="width: 100%;">{{ R.fecha | date:'dd/MM/yyyy'
            }}
          </td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap; padding-right: 5px;">{{ Columns['cliente'] }}:</td>
          <td style="width: 100%;">{{ R.cliente }}</td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap; padding-right: 5px;">Método de pago:</td>
          <td style="width: 100%;">{{ R.metodoPago }}
          </td>
        </tr>

        <tr>
          <td style="font-weight: bold; white-space: nowrap; padding-right: 5px;">Descripción:</td>
          <td style="width: 100%;">{{ R.descripcion }}
          </td>
        </tr>
      </table>

      <div class="col-md-12 col-lg-12 order-md-last">
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm overflow-hidden" *ngFor="let item of R.items">
            <div
              style="flex-grow: 1; flex-shrink: 1; max-width: 75%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              <h6 class="my-0">{{ item.nombre }} ({{ item.codigo }})</h6>
              <small class="text-body-secondary" style="max-width: 100%;">
                {{ item.descripcion }}
              </small>
            </div>
            <span class="text-body-secondary px-3">x{{ item.cantidad }}</span>
            <span class="text-body-secondary" style="max-width: 100px;">${{ item.precio }}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <span>Total ({{ R.moneda }})</span>
            <strong>${{ R.total }}</strong>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <button mat-button (click)="remitoRecord(false)">Confirmar</button>
  <button mat-button (click)="remitoRecord(true)">Confirmar y Descargar Remito</button>

  <span *ngIf="errorMsg" style="color: red; font-size: small;"> {{ errorMsg }} </span>
</div>
