/* tabla principal section */

.custom-paginator {
  padding-bottom: 5px;
}

.table-container {
  border-radius: 5px 5px 10px 10px;
  width: 100%;
  overflow-x: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.table-container table .data-row:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-wrapper {
  position: relative;
  overflow-x: auto;
  width: auto;
}

.sinDatos {
  background-color: white;
  color: #ccc;
}

.sinDatos p {
  margin: 0;
  padding: 20px;
}

.input-group {
  background-color: white;
}

.input-group button,
.input-group input {
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.input-group input {
  border-radius: 5px 5px 0 0;
  font-size: 12px;
}

.input-group button {
  border-radius: 0 5px 0 0;
}

.input-group input:focus {
  outline: none !important;
  box-shadow: none !important;
  background-image: linear-gradient(to top, var(--color-1) 2px, rgba(156, 39, 176, 0) 2px);
}

.input-group input:focus + button {
  background-image: linear-gradient(to top, var(--color-1) 2px, rgba(156, 39, 176, 0) 2px);
}

.noVisible {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.actions-cell {
  align-items: center;
  justify-content: flex-start;
}

.actions-container {
  display: flex;
  gap: 0;
}

.actions-container button {
  width: 30px;
  height: 30px;
  padding: 0;
  padding-top: 5px;
  margin: 0;
  overflow: hidden;
}

.actions-container button mat-icon {
  font-size: 20px;
  color: #7e7e7e;
}

.actions-container button:hover mat-icon {
  color: var(--color-1);
}

th {
  white-space: nowrap;
}

/* detalle section */

.verDetalle table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 4px;
  width: 100%;
}

.verDetalle th,
.verDetalle td {
  padding: 8px;
  text-align: left;
}

.verDetalle tr {
  border-bottom: 1px solid #ccc;
}

/* title section */
.title .card [class*=card-header-] {
  border-radius: 3px;
  padding: 15px;
  margin: 0 -5px;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title .card .card-header-danger:not(.card-header-text) {
  box-shadow: var(--title-box-shadow);
  background: var(--title-background);
  z-index: 3;
  border-bottom: none;
  margin-bottom: 5px;
}

.title .card {
  border: none;
  background: none;
}

.title .card-title {
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.title h4 {
  font-size: 19px;
  letter-spacing: 0.11rem;
}

.title .card button {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  fill: currentColor;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  z-index: 0;
  overflow: visible;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.title .card button:hover {
  transform: scale(1.1);
}

.title .card button:active {
  transform: scale(.9);
}

.title .card button mat-icon {
  overflow: visible;
  font-size: xx-large;
}








