/* tabla principal section */

.custom-paginator {
  padding-bottom: 5px;
}

.table-container {
  border-radius: 5px 5px 10px 10px;
  width: 100%;
  overflow-x: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.table-container table .data-row:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-wrapper {
  position: relative;
  overflow-x: auto;
  width: auto;
}

.sinDatos {
  background-color: white;
  color: #ccc;
}

.sinDatos p {
  margin: 0;
  padding: 20px;
}

.input-group {
  background-color: white;
}

.input-group button,
.input-group input {
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.input-group input {
  border-radius: 5px 5px 0 0;
  font-size: 12px;
}

.input-group button {
  border-radius: 0 5px 0 0;
}

.input-group input:focus {
  outline: none !important;
  box-shadow: none !important;
  background-image: linear-gradient(to top, var(--color-1) 2px, rgba(156, 39, 176, 0) 2px);
}

.input-group input:focus + button {
  background-image: linear-gradient(to top, var(--color-1) 2px, rgba(156, 39, 176, 0) 2px);
}

.noVisible {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.actions-cell {
  align-items: center;
  justify-content: flex-start;
}

.actions-container {
  display: flex;
  gap: 0;
}

.actions-container button {
  width: 30px;
  height: 30px;
  padding: 0;
  padding-top: 5px;
  margin: 0;
  overflow: hidden;
}

.actions-container button mat-icon {
  font-size: 20px;
  color: #7e7e7e;
}

.actions-container button:hover mat-icon {
  color: var(--color-1);
}

th {
  white-space: nowrap;
}

/* detalle section */

.verDetalle table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 4px;
  width: 100%;
}

.verDetalle th,
.verDetalle td {
  padding: 8px;
  text-align: left;
}

.verDetalle tr {
  border-bottom: 1px solid #ccc;
}

/* Vista de creación, edicion, duplicado de registros */

.full-width {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.form-field-description {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.form-field-description .red-asterisk {
  color: rgba(145, 0, 0, 0.886);
}




