.custom-paginator {
  padding-bottom: 5px;
}

.table-container {
  border-radius: 5px 5px 10px 10px;
  width: 100%;
  overflow-x: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.table-container table .data-row:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-wrapper {
  position: relative;
  overflow-x: auto;
}

.sinDatos {
  background-color: white;
  color: #ccc;
}

.sinDatos p {
  margin: 0;
  padding: 20px;
}

.input-group {
  background-color: white;
}

.input-group input {
  border-radius: 5px 5px 0 0;
  font-size: 12px;
  transition: all 3s ease-out;
}

.input-group button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}

.input-group input:focus {
  outline: none !important;
  box-shadow: none !important;
  background-image: linear-gradient(to top, var(--color-1) 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.table-container .table-wrapper::-webkit-scrollbar {
  width: 10px;
}

.table-container .table-wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.table-container .table-wrapper::-webkit-scrollbar-thumb {
  background: var(--scroll-Background);
  border-radius: 10px;
}

.elemento-invisible {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.actions-cell {
  align-items: center;
  justify-content: flex-start;
}

.actions-container {
  display: flex;
  gap: 0;
}

.actions-container button {
  width: 30px;
  height: 30px;
  padding: 0;
  padding-top: 5px;
  margin: 0;
  overflow: hidden;
}

.actions-container button mat-icon {
  font-size: 20px;
  color: #7e7e7e;  /* #AAAAAA */
}

.actions-container button:hover mat-icon{
  color: var(--color-1);
}

th {
  white-space: nowrap;
}