

<app-title [title]="'Detalle'"></app-title>

<!--
<div class="mat-elevation-z8 table-container">
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Pepper</span>
      <span matListItemLine>Produced by a plant</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Salt</span>
      <span matListItemLine>Extracted from sea water</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Paprika</span>
      <span matListItemLine>Produced by dried and ground red peppers</span>
    </mat-list-item>
  </mat-list>
</div>

 -->


<div class="mat-elevation-z8 table-container">
  <table >
    <thead>
      <tr>
        <th>Element</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>&lt;mat-card-header&gt;</code></td>
        <td>Section anchored to the top of the card (adds padding)</td>
      </tr>
      <tr>
        <td><code>&lt;mat-card-content&gt;</code></td>
        <td>Primary card content (adds padding)</td>
      </tr>
      <tr>
        <td><code>&lt;img mat-card-image&gt;</code></td>
        <td>Card image. Stretches the image to the container width</td>
      </tr>
      <tr>
        <td><code>&lt;mat-card-actions&gt;</code></td>
        <td>Container for buttons at the bottom of the card (adds padding)</td>
      </tr>
      <tr>
        <td><code>&lt;mat-card-footer&gt;</code></td>
        <td>Section anchored to the bottom of the card</td>
      </tr>
    </tbody>
  </table>
</div>
