.btn-primary {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--externo-color-2);
  --bs-btn-border-color: var(--externo-color-2);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--externo-color-1);
  --bs-btn-hover-border-color: var(--externo-color-1);
  --bs-btn-focus-shadow-rgb: 123, 175, 172;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--externo-color-1);
  --bs-btn-active-border-color: var(--externo-color-1);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--externo-color-2);
  --bs-btn-disabled-border-color: var(--externo-color-2);
}

.about-section p a {
  color: rgba(255, 255, 255, .5) !important;
}

.card-body a {
  color: var(--externo-color-1);
  text-decoration: underline;
}

.about-section p a:hover,
.card-body a:hover {
  color: var(--externo-color-2) !important;
}

body {
  letter-spacing: 0.0925em;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: var(--externo-color-2);
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #000;
  font-weight: 700;
  padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  #mainNav .nav-link:active {
    color: #fff;
  }

  #mainNav.navbar-shrink {
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #000;
  }

  #mainNav.navbar-shrink .nav-link {
    color: #000;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: var(--externo-color-2);
  }

  #mainNav.navbar-shrink .nav-link:active {
    color: var(--externo-color-1);
  }

  #mainNav.navbar-shrink .nav-link.active {
    color: var(--externo-color-2);
    outline: none;
    border-bottom: 0.25rem solid var(--externo-color-2);
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(var(--externo-color-2-R), var(--externo-color-2-G), var(--externo-color-2-B), .9) 0%, rgba(var(--externo-color-2-R), var(--externo-color-2-G), var(--externo-color-2-B), .3) 100%), url("/assets/img/4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

.masthead h1,
.masthead .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .4));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.masthead h2,
.masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {

  .masthead h1,
  .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }

  .masthead h1,
  .masthead .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }

  .masthead h2,
  .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.about-section {
  padding-top: 10rem;
  /* background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%); */
  /* background: linear-gradient(to bottom, var(--externo-color-2) 0%, var(--externo-color-1) 75%, rgba(0, 0, 0, 0.1) 100%); */
  background: linear-gradient(to bottom,
      rgba(var(--externo-color-2-R), var(--externo-color-2-G), var(--externo-color-2-B), .5) 0%,
      rgba(var(--externo-color-2-R), var(--externo-color-2-G), var(--externo-color-2-B), .9) 100%);
  height: 100vh;
  overflow: hidden;
}

.about-section .img-fluid {
  max-width: 250px;
}

.about-section .container {
  height: 100%;
}








.about-section .container .img-container {
  height: auto;
}

.projects-section {
  padding-top: 2rem;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid var(--externo-color-2);
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
}

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("/assets/img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-signup input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding-top: 5rem;
  background: linear-gradient(to bottom, var(--externo-color-2) 0%, var(--externo-color-1) 100%);
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid var(--externo-color-2);
}

.contact-section .card h4,
.contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  opacity: 1;
  border-color: var(--externo-color-2);
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

.contact-section .social i {
  font-size: 2.9rem;
}

.footer {
  padding: 5rem 0;
}

.pricing-section {
  padding: 15rem 0;
}

.free {
  color: #fff !important;
  background-color: var(--externo-color-2);
}

.background-color1 {
  background-color: var(--externo-color-1);
}

.background-color2 {
  /*   background-color: var(--externo-color-2); */
  background-color: white;
}

.landing-navbar-icon {
  position: absolute;
  max-width: 50px;
  max-height: 50px;
  left: .5rem;
}

@media (max-width: 992px) {
  .landing-navbar-icon {
    right: .5rem !important;
    left: auto !important;
  }
}
