<!-- <p>landing-page works!</p>

<button mat-button (click)="navigateToSidebar('/nav/dashboard')">TEST</button> <br> <br>
<button mat-button (click)="navigateToSidebar('/nav')">TEST</button> <br> <br>
<button mat-button (click)="navigateToSidebar('/login')">TEST</button> <br> <br>
<button mat-button (click)="navigateToSidebar('/register')">TEST</button> <br> <br>
<button mat-button (click)="navigateToSidebar('/payment')">TEST</button> <br> <br>
 -->






<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#page-top">Compy</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#Acerca">Acerca</a></li>
          <li class="nav-item"><a class="nav-link" href="#caracteristicas">Aplicación</a></li>
          <li class="nav-item"><a class="nav-link" href="#pricing">Precios</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Ingresar</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Registrarse</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead" style="padding-top: 10rem;">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="text-center pt-lg-5">
          <h1 class="mx-auto my-0 text-uppercase">Administrar tu empresa ahora es muy simple.</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Flujo de trabajo claro y personalizable para que siempre tengas
            una visión amplia de las oportunidades de tu negocio.</h2>
          <a class="btn btn-primary" href="#Acerca">Comenzar</a>
        </div>
      </div>
    </div>
  </header>
  <!-- Acerca-->
  <section class="about-section text-center" id="Acerca">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8">
          <h2 class="text-white mb-4">Acerca de</h2>
          <p class="text-white-50">
            Compy es un sistema de gestión online para administración de empresas y pymes. Pensado por empresarios para
            empresarios, sin necesidad de conocimientos avanzados en contabilidad o programas de gestión. <a
              href="https://google.com">Regístrate</a> y comienza a administrar tu empresa en forma rápida y sencilla.
          </p>
          <a class="btn btn-primary m-1" href="#caracteristicas">MAS CARACTERISTICAS</a>

          <a class="btn btn-primary m-1" href="#">REGISTRARSE</a>
        </div>
      </div>
      <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
    </div>
  </section>

  <!-- Projects-->
  <section class="projects-section bg-light" id="caracteristicas">
    <div class="container px-4 px-lg-5">
      <!-- Featured Project Row-->
      <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="..." />
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Características</h4>
            <p class="text-black-50 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque
              officia illo nemo distinctio? Iste doloremque dolor beatae tempora voluptates dignissimos placeat
              inventore laboriosam molestias nam possimus ducimus fugiat mollitia, perferendis quaerat voluptatum
              consequatur expedita quis! </p>
          </div>
        </div>
      </div>
      <!-- Project 1 Row-->
      <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="..." /></div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Cloud</h4>
                <p class="mb-0 text-white-50">Gestiona tu empresa desde donde quieras y cuando quieras mediante
                  cualquier
                  dispositivo con conexión a Internet. Además, no necesitas adquirir ni configurar un servidor para
                  guardar
                  los datos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project 2 Row-->
      <div class="row gx-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Inventario</h4>
                <p class="mb-0 text-white-50">Gestiona tu inventario de productos y servicios con todos los datos que
                  necesites.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project 3 Row-->
      <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="..." /></div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Cloud</h4>
                <p class="mb-0 text-white-50">Gestiona tu empresa desde donde quieras y cuando quieras mediante
                  cualquier
                  dispositivo con conexión a Internet. Además, no necesitas adquirir ni configurar un servidor para
                  guardar
                  los datos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project 4 Row-->
      <div class="row gx-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Inventario</h4>
                <p class="mb-0 text-white-50">Gestiona tu inventario de productos y servicios con todos los datos que
                  necesites.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pricing-section bg-light" id="pricing">
    <div class="container px-4 px-lg-5">
      <div class="row row-cols-1 row-cols-md-3 text-center">

        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Gratis</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Comience con un mes gratis!</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Registrarse</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Plus</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>xxxxxxxxxxx</li>
                <br>
                <br>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>xxxxxxxxxxx</li>
                <br>
                <br>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact-->
  <section class="contact-section bg-black" id="contact">
    <div class="container px-4 px-lg-5">
      <div class="justify-content-around row gx-4 gx-lg-5">

        <div class="col-md-5 col-lg-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4 mx-auto" />
              <div class="small text-black-50" style="user-select: text;"><a href="#!">test@test.com</a></div>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-lg-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4 mx-auto" />
              <div class="small text-black-50" style="user-select: text;">+54 (236) 433-6228</div>
            </div>
          </div>
        </div>

      </div>
      <div class="social d-flex justify-content-center">
        <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
        <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </section>
  <!-- Footer-->
  <footer class="footer bg-black small text-center text-white-50 pb-0">
    <div class="container px-4 px-lg-5">Copyright &copy; Compy 2023</div>
  </footer>

</body>
