<div class="title">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header-danger">
        <h4 class="card-title">Configuración General</h4>
      </div>
    </div>
  </div>
</div>

<mat-tab-group dynamicHeight>
  <mat-tab label="Ajustes">
    <div class="box mat-elevation-z4">



    </div>
  </mat-tab>

  <mat-tab label="Facturación">
    <div class="box mat-elevation-z4">
      <app-facturacion-config></app-facturacion-config>
    </div>
  </mat-tab>
</mat-tab-group>
