<div class="title">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header-danger">
        <h4 class="card-title">Configuración General</h4>
      </div>
    </div>
  </div>
</div>

<mat-tab-group dynamicHeight>
  <mat-tab label="Ajustes">
    <div class="box mat-elevation-z4">
      <app-configuracion-general-ajustes></app-configuracion-general-ajustes>
    </div>
  </mat-tab>

  <mat-tab label="Inventario">
    <div class="box mat-elevation-z4">
      <app-inventario-config></app-inventario-config>
    </div>
  </mat-tab>

  <mat-tab label="Ingreso">
    <div class="box mat-elevation-z4">
      <app-configuracion-general-ingreso></app-configuracion-general-ingreso>
    </div>
  </mat-tab>

  <mat-tab label="Egreso">
    <div class="box mat-elevation-z4">
      <app-configuracion-general-egreso></app-configuracion-general-egreso>
    </div>
  </mat-tab>

  <mat-tab label="Facturación">
    <div class="box mat-elevation-z4">
      <app-facturacion-config></app-facturacion-config>
    </div>
  </mat-tab>
</mat-tab-group>
