@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  /* colores globales - de mas claro a mas oscuro */
  --color-0: #ab9bf1;
  --color-1: #846bf3;
  --color-2: #4c28ec;
  /* fondo del contenido */
  --content-Background-color: var(--color-2);
  --content-Background-opacity: .07;
  /* sideBar */
  --sidebar-exitButton: rgba(255, 0, 0, 0.658);
  --sidebar-background-image: url(./assets/sidebar-1.jpg);
  --sideBar-background-image-opacity: .1;
  --sideBar-Background-color: var(--color-1);
  --sideBar-Background-opacity: .4;
  --sideBar-ActiveButton: var(--color-2);
  /* navBar */
  --navBar-Background: linear-gradient(60deg, var(--color-1), var(--color-2));
  --navBar-Background-opacity: 1;
  /* title */
  --title-background: linear-gradient(60deg, var(--color-1), var(--color-2));
  --title-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px var(--color-0);
  /* scroll */
  --scroll-Background: linear-gradient(60deg, var(--color-1), var(--color-2), var(--color-1));
}

* {
  user-select: none;
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.4em;
  font-weight: 300;
}

.table-wrapper::-webkit-scrollbar {
  width: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
  border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: var(--scroll-Background) !important;
  border-radius: 10px;
}
